<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>
      <ul class="list-group">
        <div *ngIf="onlyOdd">
          <li class="list-group-item" *ngFor="let number of oddNumbers" [ngClass]="{odd: number % 2 > 0}" [ngStyle]="{backgroundColor: number % 2 > 0 ? 'blue' : 'transparent'}">{{number}}</li>
        </div>
        <!-- <div *ngIf="!onlyOdd">
          <li class="list-group-item" 
          *ngFor="let number of evenNumbers" 
          [ngClass]="{even: number % 2 == 0}" 
          [ngStyle]="{backgroundColor: number % 2 == 0 ? 'red' : 'transparent'}">{{number}}</li>
        </div> -->
        <!-- using custom structural directive -->
        <div *appUnless="onlyOdd">
          <li class="list-group-item" *ngFor="let number of evenNumbers" [ngClass]="{even: number % 2 == 0}" [ngStyle]="{backgroundColor: number % 2 == 0 ? 'red' : 'transparent'}">{{number}}</li>
        </div>
        <!-- using the long syntax for a structural directive
        <ng-template [ngIf]="!onlyOdd">
            <div >
                <li class="list-group-item" 
                *ngFor="let number of evenNumbers" 
                [ngClass]="{even: number % 2 == 0}" 
                [ngStyle]="{backgroundColor: number % 2 == 0 ? 'red' : 'transparent'}">{{number}}</li>
              </div>
        </ng-template> -->
      </ul>
      <p *ngIf="onlyOdd; else onlyEven" appBetterHighlight>Only odd</p>
      <ng-template #onlyEven>
        <p appBestHighlight [highlightColor]="'yellow'" [defaultColor]="'red'">Only even</p>
      </ng-template>

      <!-- ngSwitch  -->
      <div [ngSwitch]="value">
          <p *ngSwitchCase="1">Value is 1</p>
          <p *ngSwitchCase="10">Value is 10</p>
          <p *ngSwitchCase="100">Value is 100</p>
          <p *ngSwitchDefault>Value is Default</p>
        </div>
    </div>
  </div>
</div>