<div>
  <textarea rows=8 cols=60 id="inputText" name="inputText">Lorem ipsum quis quam diam risus rhoncus eu cras ipsum himenaeos, egestas vitae curabitur mattis donec molestie diam dapibus gravida primis, mattis conubia magna nulla tempus egestas in ipsum nulla lacinia litora amet feugiat. Sem aliquam tincidunt consectetur tempus curabitur pretium class litora urna dolor posuere, senectus nunc neque hendrerit ut risus pulvinar nullam donec luctus nisi congue, ipsum odio feugiat eu varius cursus ultrices nullam maecenas volutpat.</textarea>
  <br>
  <ul>
    <li *ngFor="let value of values">Average word length: {{ value }}</li>
  </ul>

</div>