<app-warning></app-warning>
<app-confirmation></app-confirmation>
<div class="container">
   <div class="row">
      <div class="col-xs-12">
         <hr>
         <app-servers></app-servers>
      </div>
   </div>
</div>
<hr>

<div class="container">
   <div class="row">
      <div class="col-xs-12">
         <app-data-binding-assignment></app-data-binding-assignment>
      </div>
   </div>
</div>
<hr>
<div class="container">
   <div class="row">
      <div class="col-xs-12">
         <app-directives-assignment></app-directives-assignment>
      </div>
   </div>
</div>
<hr>
<app-copyright></app-copyright>