<div>
  <h3>RxJs Operator Examples</h3>
  <ul>
    <li><a [routerLink]="['debouncetime']">debounceTime(), distinctUntilChanged(), map()</a></li>
    <li><a [routerLink]="['filter']">filter(), interval()</a></li>
    <li><a [routerLink]="['map']">map(), interval(), throttleTime()</a></li>
    <li><a [routerLink]="['mergemap']">mergemap() </a></li>
    <li><a [routerLink]="['pluck']">pluck(), debounceTime(), distinctUntilChanged()</a></li>
    <li><a [routerLink]="['scan']">( scan() or reduce() ) and map()</a></li>
    <li><a [routerLink]="['switchmap']">switchMap() </a></li>
  </ul>
</div>